.home{
    display: flex;

}

@media only screen and (max-width: 768px){
    .home{
        display: block ;
        transform:  rotate(180deg);
        -webkit-transform:  rotate(180deg);
    
    }
    .home > div {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    
}